In [1]:
import pandas as pd

In [15]:
flight = pd.read_csv('data/air_traffic/flightlist_20211201_20211231.csv')

In [110]:
flight.head()

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,LAN9712,NaN,e8027a,CC-BBF,B788,KLAX,KMIA,2021-11-30 00:04:09+00:00,2021-12-01 03:25:21+00:00,2021-12-01 00:00:00+00:00,33.946884,-118.434299,0.0,25.784683,-80.347392,129.54
1,RDA5003,NaN,510146,NaN,NaN,ZBTJ,NaN,2021-11-30 01:13:09+00:00,2021-12-01 02:07:36+00:00,2021-12-01 00:00:00+00:00,39.187683,117.438832,609.6,33.607504,14.337444,5745.48
2,KMF903,NaN,700024,NaN,NaN,OMAA,OM11,2021-11-30 01:38:15+00:00,2021-12-01 13:43:43+00:00,2021-12-01 00:00:00+00:00,24.378204,54.780426,914.4,24.385971,54.875206,1257.30
3,LGT2878,NaN,4244a1,NaN,NaN,EBLG,EBLG,2021-11-30 02:08:50+00:00,2021-12-01 22:25:38+00:00,2021-12-01 00:00:00+00:00,50.629257,5.431366,304.8,50.656906,5.475094,396.24
4,CCA589,NaN,7816b5,NaN,NaN,KLAX,EGLL,2021-11-30 02:11:40+00:00,2021-12-01 07:46:59+00:00,2021-12-01 00:00:00+00:00,33.947800,-118.424602,0.0,51.464951,-0.437523,152.40

In [10]:
n0 = pd.read_csv('Nodes1.csv', sep=';')
e0 = pd.read_csv('Edges1.csv', sep=';')

In [9]:
n0.head()

          Id  Label  Attribute1    City  Latitude  Longitude
0  376088951  name1           1  Berlin     52.51       13.4
1   17647430  name2           2  Berlin     52.51       13.4
2   32416061  name3           1  Berlin     52.51       13.4
3  550180187  name4           2  Berlin     52.51       13.4
4   28110685  name5           1  Berlin     52.51       13.4

In [60]:
n0.Attribute1.unique()

array([1, 2])

#### all airporst from U.S

In [14]:
airports = pd.read_csv('data/us-airports.csv')
to_keep = ['ident', 'latitude_deg', 'longitude_deg', 'name']
airports = airports[to_keep]
airports = airports.iloc[1:,:]
airports.head()

,ident,latitude_deg,longitude_deg,name
1,KLAX,33.942501,-118.407997,Los Angeles International Airport
2,KORD,41.9786,-87.9048,Chicago O'Hare International Airport
3,KJFK,40.639801,-73.7789,John F Kennedy International Airport
4,KATL,33.6367,-84.428101,Hartsfield Jackson Atlanta International Airport
5,KSFO,37.61899948120117,-122.375,San Francisco International Airport

#### all airports from world

In [98]:
all_airports = pd.read_csv('airports.dat', header=None)

col = ['ID','Name','City','Country',
       'IATA','ICAO','Latitude','Longitude',
       'Altitude','Timezone','DST','time_zone',
       'Type','Source']

all_airports.columns = col
all_airports = all_airports[['ICAO','Latitude','Longitude','Name']]
all_airports.head()

   ICAO  Latitude   Longitude                                         Name
0  AYGA -6.081690  145.391998                               Goroka Airport
1  AYMD -5.207080  145.789001                               Madang Airport
2  AYMH -5.826790  144.296005                 Mount Hagen Kagamuga Airport
3  AYNZ -6.569803  146.725977                               Nadzab Airport
4  AYPY -9.443380  147.220001  Port Moresby Jacksons International Airport

In [96]:
all_airports.IATA.values

array(['GKA', 'MAG', 'HGU', ..., '\\N', 'CPO', '\\N'], dtype=object)

#### isolate all the fights in US

In [102]:
world_flight = flight[flight.origin.isin(all_airports.ICAO.values) & flight.destination.isin(all_airports.ICAO.values)]

In [103]:
world_flight.head()

,callsign,number,icao24,registration,typecode,origin,destination,firstseen,lastseen,day,latitude_1,longitude_1,altitude_1,latitude_2,longitude_2,altitude_2
0,LAN9712,NaN,e8027a,CC-BBF,B788,KLAX,KMIA,2021-11-30 00:04:09+00:00,2021-12-01 03:25:21+00:00,2021-12-01 00:00:00+00:00,33.946884,-118.434299,0.0,25.784683,-80.347392,129.54
3,LGT2878,NaN,4244a1,NaN,NaN,EBLG,EBLG,2021-11-30 02:08:50+00:00,2021-12-01 22:25:38+00:00,2021-12-01 00:00:00+00:00,50.629257,5.431366,304.8,50.656906,5.475094,396.24
4,CCA589,NaN,7816b5,NaN,NaN,KLAX,EGLL,2021-11-30 02:11:40+00:00,2021-12-01 07:46:59+00:00,2021-12-01 00:00:00+00:00,33.947800,-118.424602,0.0,51.464951,-0.437523,152.40
5,TAY812,NaN,4408ff,OE-IFD,B744,EBLG,EBLG,2021-11-30 03:05:04+00:00,2021-12-01 03:03:43+00:00,2021-12-01 00:00:00+00:00,50.627979,5.428731,304.8,50.646378,5.458326,281.94
6,CLX5327,NaN,4d0116,LX-VCL,B748,WMKK,ELLX,2021-11-30 04:32:47+00:00,2021-12-01 03:24:15+00:00,2021-12-01 00:00:00+00:00,2.861287,101.667575,914.4,49.627762,6.215081,434.34

#### isolate flights on Dec, 26

In [105]:
world_flight.day = pd.to_datetime(world_flight.day)
world_flight.day = world_flight.day.map(lambda t: t.strftime("%Y-%m-%d"))

In [106]:
Dec26 = world_flight[world_flight.day=='2021-12-26']

In [107]:
Dec26.isna().sum()

callsign            0
number          21766
icao24              3
registration     7450
typecode        11861
origin              0
destination         0
firstseen           0
lastseen            0
day                 0
latitude_1          0
longitude_1         0
altitude_1          0
latitude_2          0
longitude_2         0
altitude_2        854
dtype: int64

#### generate airports nodes

In [108]:
Dec26.origin.nunique()

1185

In [109]:
Dec26.destination.nunique()

1247

In [114]:
nodes = all_airports[all_airports.ICAO.isin(Dec26.destination.values)]
nodes = nodes.rename(columns={'ICAO':'Id', 'Name':'Label'})
nodes = nodes[['Id', 'Label', 'Latitude', 'Longitude']]
nodes.head()

      Id                                         Label   Latitude   Longitude
15  BIKF                Keflavik International Airport  63.985001  -22.605600
27  CYBG                                CFB Bagotville  48.330601  -70.996399
32  CYCD                               Nanaimo Airport  49.054970 -123.869863
60  CYGK                Kingston Norman Rogers Airport  44.225300  -76.596901
69  CYHM  John C. Munro Hamilton International Airport  43.173599  -79.934998

#### count the number of flights from the same origin to the same destination

In [115]:
edges = Dec26.groupby(['origin','destination']).size().reset_index(name='Count')

In [116]:
edges['Type'] = 'Directed'

In [117]:
edges = edges.rename(columns={'origin':'Source', 'destination':'Target', 'Count':'Weight'})
edges = edges[['Source', 'Target', 'Type', 'Weight']]
edges.head()

  Source Target      Type  Weight
0   07FA   KMDQ  Directed       1
1   18AZ   18AZ  Directed       1
2   5NC2   KISM  Directed       1
3   7FL4   KLAL  Directed       1
4   BIKF   CYYZ  Directed       2

In [118]:
edges.Target.nunique()

1247

In [119]:
nodes.Id.nunique()

1247

#### export csv files

In [63]:
nodes.to_csv('dec26_nodes.csv', index=False)
edges.to_csv('dec26_edges.csv', index=False)

In [120]:
nodes.to_csv('dec26_nodes_world.csv', index=False)
edges.to_csv('dec26_edges_world.csv', index=False)

#### process Dec 26, 2019

In [121]:
flight_19 = pd.read_csv('data/air_traffic/flightlist_20191201_20191231.csv')

In [132]:
flight_19.day = pd.to_datetime(flight_19.day)
flight_19.day = flight_19.day.map(lambda t: t.strftime("%Y-%m-%d"))
Dec26_19 = flight_19[flight_19.day=='2019-12-26']

In [133]:
Dec26_19.isna().sum()

callsign            0
number          65198
icao24              0
registration    11866
typecode        21817
origin          24648
destination     19972
firstseen           0
lastseen            0
day                 0
latitude_1          0
longitude_1         0
altitude_1          0
latitude_2          1
longitude_2         1
altitude_2       2389
dtype: int64

In [134]:
world_flight_19 = Dec26_19[Dec26_19.origin.isin(all_airports.ICAO.values) & Dec26_19.destination.isin(all_airports.ICAO.values)]

In [139]:
nodes_19 = all_airports[all_airports.ICAO.isin(world_flight_19.destination.values)]
nodes_19 = nodes_19.rename(columns={'ICAO':'Id', 'Name':'Label'})
nodes_19 = nodes_19[['Id', 'Label', 'Latitude', 'Longitude']]
nodes_19

(1161, 4)

In [136]:
edges_19 = world_flight_19.groupby(['origin','destination']).size().reset_index(name='Count')

In [137]:
edges_19['Type'] = 'Directed'

In [138]:
edges_19 = edges_19.rename(columns={'origin':'Source', 'destination':'Target', 'Count':'Weight'})
edges_19 = edges_19[['Source', 'Target', 'Type', 'Weight']]
edges_19.head()

  Source Target      Type  Weight
0   18AZ   18AZ  Directed       1
1   18AZ   KSDL  Directed       2
2   1AZ0   KGYR  Directed       2
3   BIKF   CYYZ  Directed       1
4   BIKF   EBBR  Directed       1

In [130]:
nodes_19.to_csv('dec26_19_nodes_world.csv', index=False)
edges_19.to_csv('dec26_19_edges_world.csv', index=False)

In [141]:
a = pd.read_csv('airports.dat', header=None)

In [143]:
col = ['ID','Name','City','Country',
       'IATA','ICAO','Latitude','Longitude',
       'Altitude','Timezone','DST','time_zone',
       'Type','Source']

a.columns = col

In [146]:
a.Country.values

array(['Papua New Guinea', 'Papua New Guinea', 'Papua New Guinea', ...,
       'Russia', 'Chile', 'Ukraine'], dtype=object)